

.element-container {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-right: 10px;
  font-size: 30px;
  color: #fff;
  width: fit-content;
  height: fit-content;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 8px;
  border-radius: 5px;
}

.infoButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0px 0px;
  z-index: 2;
}